@model IEnumerable<PizzaShop.Models.Pizza>

@{
    ViewBag.Title = "Pizzas";
}

<script type="text/javascript">
    $(function () {
        var $modalEl = $(".custom-pizza-modal");

        function fillToppingSelects(allToppings, pizzaToppings) {
            $modalEl.find(".topping-list").each(function (i, el) {
                var html = '';

                if (pizzaToppings.length > 0) {
                    $(el).prop("disabled", true);
                    html = '<option value="-1">' + pizzaToppings[0].Name + '</option>';
                    pizzaToppings.splice(0, 1);
                } else {
                    html = '<option value="-1">Select extra topping</option>';
                    var valueSelected = false;

                    allToppings.forEach(function (d) {

                        html += '<option value="' + d.ID + '">' +
                            d.Name + ' (' + String(d.PriceEur).replace(".", ",") + ' €)' +
                            '</option>';
                    });
                }

                $(el).html(html);
            });
        }

        $(".add-to-cart-btn").click(function () {
            var pizzaToAdd = $(this).attr("data-id");
            if (pizzaToAdd != '') {
                // Perform the ajax post
                $.post(
                    "/ShoppingCart/AddToCart",
                    { "id": pizzaToAdd },
                    function (data) {
                        $("#cart-main-btn")
                            .text("Shopping cart (" +
                                String(data.CartTotalPrice).replace(".", ",") + " €)"
                            );
                    }
                );
            }
        });

        $(".edit-pizza-btn").click(function () {
            var pizzaToEdit = $(this).attr("data-id");
            if (pizzaToEdit != '') {
                // Perform the ajax post
                $.post(
                    "/Pizzas/Detail",
                    { "id": pizzaToEdit },
                    function (data) {
                        $modalEl.modal("show");
                        $modalEl.find(".modal-title").text(data.Pizza.Name);
                        $("#add-custom-btn").data("id", data.Pizza.ID);

                        fillToppingSelects(data.Toppings, data.Pizza.Toppings);
                    }
                );
            }
        });

        $("#add-custom-btn").click(function (e) {
            var id = parseInt($(e.currentTarget).data("id"), 10);
            var toppings = [];

            $modalEl.find(".topping-list").each(function (i, el) {
                var val = parseInt(el.value, 10);
                if (val > -1) {
                    toppings.push(val);
                }
            });

            $.post(
                    "/ShoppingCart/AddCustomToCart",
                    { "id": id, "toppingIds": toppings },
                    function (data) {
                        $modalEl.modal("hide");
                        $("#cart-main-btn")
                            .text("Shopping cart (" +
                                data.CartTotalPrice + " €)"
                            );
                    }
                );
        });
    });
</script>

@Html.Partial("../Shared/CustomPizzaModal")

<div class="row">
    <div class="col-md-12">
        <h3>Choose your pizza(s)</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="menu-container">
            @foreach (var item in Model)
            {
                @Html.Partial("../Shared/MenuItem", item)
            }
        </div>
    </div>
</div>