@model IEnumerable<PizzaShop.Models.Pizza>

@{
    ViewBag.Title = "Pizzas";
}

<div class="row">
    <div class="col-md-12">
        <h3>Choose your pizza</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="menu-container">
            @foreach (var item in Model)
            {
                @Html.Partial("../Shared/MenuItem", item)
            }
        </div>
    </div>
</div>