<div class="panel panel-default menu-item">
    <div class="panel-heading">Best pizza</div>
    <div class="panel-body">
        <img class="img-responsive" src="~/Images/page-header-img-medium.jpg" />
        @*Pseudo code
            @{
                foreach(var topping in ViewBag.Toppings)
                {
                    <div class="topping">
                        <h4>topping.Title</h4>
                        <div class="clearfix"></div>
                    </div>
                }
            }
        *@
        <div class="topping">
            <h4>Anjovis</h4>
            <div class="clearfix"></div>
        </div>
        <div class="topping">
            <h4>Salami</h4>
            <div class="clearfix"></div>
        </div>
        <div class="topping">
            <h4>Lettuce</h4>
            <div class="clearfix"></div>
        </div>
        <div class="topping">
            <h4>Bacon</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
