@model PizzaShop.Models.Pizza

<div class="panel panel-default menu-item">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">
        <img class="img-responsive" src="~/Images/default-pizza_medium.jpg" />
        @foreach (var topping in Model.Toppings)
        {
            <div class="topping">
                <h4>@topping.Name</h4>
                <div class="clearfix"></div>
            </div>
        }
        <div class="button-container">
            <button type="button" class="btn btn-success add-to-cart-btn" data-id="@Model.ID">Add to cart</button>
        </div>
    </div>
</div>
