body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #F3F3F3;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    Header banner
*/
header {
    height: 20rem;
    text-align: center;
    background-image: url("../Images/page-header-img-medium.jpg");
    display: flex;
    align-items: center;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

    header .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        color: #fff;
        font-weight: 700;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }

/*
    Menu & menu items
*/
.menu-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu-item {
    flex: 1 0 100%;
    margin: 1rem;
    background: #fff;
}

.menu-item .panel-heading {
    font-size: 2rem;
    font-weight: 500;
}

.menu-item h3 {
    margin: 0;
    padding-bottom: 6px;
    font-size: 30px;
    color: #777;
    border-bottom: 4px double #eee;
}

.menu-item img {
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.topping {
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
}

.topping h4 {
    margin: 0;
    font-size: 16px;
    line-height: 23px;
}

.button-container {
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .menu-item {
        flex: 1 0 45%;
        max-width: 47.25%;
    }
}

@media (min-width: 992px) {
    .menu-item {
        flex: 1 0 20%;
        max-width: 23%;
    }
}
