body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #F3F3F3;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    Header banner
*/
header {
    height: 20rem;
    text-align: center;
    background-image: url("../Images/page-header-img-medium.jpg");
    display: flex;
    align-items: center;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: #FFF;
    font-weight: 700;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
